<div class="nettest-bar-alladin" [hidden]="!active">
    <div *ngIf="testImpl.curRepetitions == 0">
        <form>
            {{ 'NETTEST.LOOP.TIME_BETWEEN_TESTS' | translate }}<br>
            <input type="number" name="firstname" [(ngModel)]="testImpl.loopModeConfig.timeBetweenRepetitions" min="1">
            <br>
            {{ 'NETTEST.LOOP.NUMBER_REPETITIONS' | translate }}<br>
            <input type="number" name="lastname" [(ngModel)]="testImpl.loopModeConfig.numRepetitions" min="1" max="20">
        </form>
        <!--
        default: class="btn__nettest-state"
        in progress: class="btn__nettest-state inprogress"
        complete: class="btn__nettest-state complete"
        -->
        <button class="btn__nettest-state" [ngClass]="{'inprogress': manualStartShouldBeDisabled}" id="nettest-state-the-second"
            (click)="requestStart()" style="font-family: initial;">
            {{ 'NETTEST.GAUGE.GO' | translate}}
        </button>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="warning-area" *ngIf="showInvalidInputWarning">
            <h2 class="warning-title">{{'NETTEST.LOOP.INVALID_INPUT_HEADER' | translate }}</h2>
            <p class="warning-solution" style="cursor: pointer" routerLink="/settings">
                {{'NETTEST.LOOP.INVALID_INPUT_DESCRIPTION' | translate }}</p>
        </div>

    </div>

    <div *ngIf="testImpl.curRepetitions > 0">
        <div class="flex--columns home">
            <div class="content--column">
                <header class="column-header">
                    <h3>{{ 'NETTEST.LOOP.TEST_COUNTER' | translate }}</h3>
                    <h2>{{testImpl.curRepetitions}}/{{testImpl.loopModeConfig.numRepetitions}}</h2>
                </header>
            </div>
            <div class="content--column">
                <header class="column-header">
                    <h3 *ngIf="testImpl.curRepetitions < testImpl.loopModeConfig.numRepetitions">{{ 'NETTEST.LOOP.TIME_LEFT' | translate }}</h3>
                    <h2 *ngIf="testImpl.curRepetitions < testImpl.loopModeConfig.numRepetitions">{{testImpl.timeLeftString}}</h2>
                    <h2 *ngIf="testImpl.curRepetitions === testImpl.loopModeConfig.numRepetitions">{{ 'NETTEST.LOOP.FINISHED' | translate }}</h2>
                </header>
            </div>
        </div>
        <button *ngIf="testImpl.curRepetitions === testImpl.loopModeConfig.numRepetitions" class="button" (click)="ngOnDestroy()">
            {{ 'NETTEST.LOOP.RESET' | translate }}
        </button>
        <button *ngIf="testImpl.curRepetitions < testImpl.loopModeConfig.numRepetitions" class="button"
            (click)="ngOnDestroy()">
            {{ 'NETTEST.LOOP.STOP' | translate }}
        </button>
    </div>
</div>