<!-- #section-intro -->
<section class="section" id="section-intro">
  <div class="wrapper">
    <header class="section-header">
      <h1>{{ 'RESULT.HEADER' | translate }}</h1>
      <figure *ngIf="!measurement">
        <img src="assets/img/watch-anim.svg" alt="loading content" class="load-animation" />
        <figcaption>{{ 'RESULT.LOADING' | translate }}</figcaption>
      </figure>
      <ng-container *ngIf="measurement">
        <div class="icon icon-statistics"></div>
        <h2>{{ measurement.time | formatDateTimestampToLocal }}</h2>
      </ng-container>
    </header>
  </div>
</section>
<!-- #section-intro end -->
