<nntool-section-intro>
  <nntool-section-header headerTranslationKey="SETTINGS.HEADER" icon="icon-settings"> </nntool-section-header>
</nntool-section-intro>

<nntool-section-features>
  <nntool-section-content>
    <div class="section-columns">
      <form *ngIf="shown.measurement_selection && (shown.measurement_selection_speed || shown.measurement_selection_qos)" class="baseline settings-form">
        <fieldset>
          <p>
            {{ 'SETTINGS.MEASUREMENT_SELECTION.HEADER' | translate }}
          </p>
          <p >
            <label *ngIf="shown.measurement_selection_speed" class="checkbox-label" for="user_execute_ping">
              <input
                type="checkbox"
                id="user_execute_ping"
                name="user_execute_ping"
                [(ngModel)]="executePingMeasurement"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.MEASUREMENT_SELECTION.PING_MEASUREMENT' | translate }}
            </label>

            <label *ngIf="shown.measurement_selection_speed" class="checkbox-label" for="user_execute_download">
                <input
                  type="checkbox"
                  id="user_execute_download"
                  name="user_execute_download"
                  [(ngModel)]="executeDownloadMeasurement"
                  (ngModelChange)="save()"
                />
                {{ 'SETTINGS.MEASUREMENT_SELECTION.DOWNLOAD_MEASUREMENT' | translate }}
              </label>

              <label *ngIf="shown.measurement_selection_speed" class="checkbox-label" for="user_execute_upload">
                  <input
                    type="checkbox"
                    id="user_execute_upload"
                    name="user_execute_upload"
                    [(ngModel)]="executeUploadMeasurement"
                    (ngModelChange)="save()"
                  />
                  {{ 'SETTINGS.MEASUREMENT_SELECTION.UPLOAD_MEASUREMENT' | translate }}
                </label>
              <label *ngIf="shown.measurement_selection_qos" class="checkbox-label" for="user_execute_qos">
                <input 
                type="checkbox"
                id="user_execute_qos"
                name="user_execute_qos"
                [(ngModel)]="executeQosMeasurement"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.MEASUREMENT_SELECTION.QOS_MEASUREMENT' | translate }}
              </label>
          </p>
        </fieldset>
      </form>

      <form *ngIf="shown.measurement_selection && (shown.measurement_selection_speed || shown.measurement_selection_qos)"
        class="baseline settings-form">
        <fieldset>
          <p>
            {{ 'SETTINGS.LOOPMODE.HEADER' | translate }}
          </p>
          <p>
            <label *ngIf="shown.measurement_selection_speed" class="checkbox-label" for="user_show_loopmode">
              <input type="checkbox" id="user_show_loopmode" name="user_show_loopmode" [(ngModel)]="enableLoopMode"
                (ngModelChange)="save()" />
              {{ 'SETTINGS.LOOPMODE.ENABLE_TEXT' | translate }}
            </label>
          </p>
        </fieldset>
      </form>

      <form name="user_settings" class="baseline settings-form">
        <fieldset>
          <p *ngIf="shown.client_uuid">{{ 'SETTINGS.CLIENT_UUID' | translate }}: {{ clientUuid ? clientUuid : '-' }}</p>
          <p *ngIf="shown.anonymous_mode">
            <label class="checkbox-label" for="user_disassoc">
              <input
                type="checkbox"
                id="user_disassoc"
                name="user_disassoc"
                [(ngModel)]="disassociated"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.DISASSOCIATE' | translate }}
            </label>
          </p>
          <p *ngIf="shown.invisible">
            <label class="checkbox-label" for="user_invisible">
              <input
                type="checkbox"
                id="user_invisible"
                name="user_invisible"
                [(ngModel)]="invisible"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.INVISIBLE' | translate }}
            </label>
          </p>
          <p *ngIf="shown.force_ip4">
            <label class="checkbox-label" for="user_force_ip4">
              <input
                type="checkbox"
                id="user_force_ip4"
                name="user_force_ip4"
                [(ngModel)]="forceIp"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.FORCE_IP4' | translate }}
            </label>
          </p>
          <!--button type="submit" class="button" (click)="save()">{{ 'SETTINGS.SAVE' | translate }}</button-->
        </fieldset>
      </form>

      <form name="user_delete_data" class="baseline settings-form" *ngIf="shown.delete_user">
        <fieldset>
          <legend>{{ 'SETTINGS.DELETE_TEXT' | translate }}</legend>
          <p *ngIf="!shown.no_anonymize_before_delete_user">
            <label class="checkbox-label" for="user_disassoc_b4">
              <input
                type="checkbox"
                id="user_disassoc_b4"
                name="user_disassoc_b4"
                [(ngModel)]="disassociateBeforeDelete"
                (ngModelChange)="save()"
              />
              {{ 'SETTINGS.DISASSOCIATE_BEFORE_DELETE' | translate }}
            </label>
          </p>
          <!-- Maybe not submit -->
          <button class="button" type="submit" (click)="clear()">{{ 'SETTINGS.DELETE' | translate }}</button>
        </fieldset>
      </form>
    </div>
  </nntool-section-content>
</nntool-section-features>
