<nntool-section-intro>
  <nntool-section-header headerTranslationKey="RESULT.DETAIL.HEADER" icon="icon-watch" loadingIndicator="true">
    <div class="section-content no-data">
      <h2 *ngIf="!loading && (!response || response.groups.length === 0)">{{ 'RESULT_LIST.NO_DATA' | translate }}</h2>
      <!--h2 *ngIf="translationKey === 'HISTORY' && !uuid">{{ translationKey + '.NO_USER_UUID' | translate }}</h2-->
    </div>
  </nntool-section-header>
</nntool-section-intro>

<nntool-grouped-result [response]="response" [loading]="loading"></nntool-grouped-result>

<nntool-qos-result [qosGroups]="qosGroups"> </nntool-qos-result>

<history-deletion-component> </history-deletion-component>
