<!-- #section-intro -->
<section class="section" id="section-intro">
    <div class="wrapper">
        <header class="section-header">
            <h1 [innerHTML]="'HOME.HEADER' | translate"></h1>
        </header>
        <div class="section-content">
            <p [innerHTML]="'HOME.DESCRIPTION' | translate"></p>
        </div>
    </div>
</section>
<!-- #section-intro end -->

<!-- #section-technical -->
<section class="section" id="section-technical">
    <div class="wrapper">
        <div class="flex--columns">
            <div class="content--column home clickable" [routerLink]="['/nettest']">
                <header class="column-header">
                    <div class="icon icon-watch" aria-hidden="true"></div>
                    
                    <h3>{{ 'HOME.TILES.TEST.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.TEST.DESCRIPTION' | translate"></p>
            </div>
            <div class="content--column home clickable" [routerLink]="['/history']">
                <header class="column-header">
                    <div class="icon icon-history" aria-hidden="true"></div>
                    
                    <h3>{{ 'HOME.TILES.HISTORY.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.HISTORY.DESCRIPTION' | translate"></p>
            </div>
            <div class="content--column home clickable" [routerLink]="['/testresults']">
                <header class="column-header">
                    <div class="icon icon-search" aria-hidden="true"></div>
                    
                    <h3>{{ 'HOME.TILES.RESULT_LIST.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.RESULT_LIST.DESCRIPTION' | translate"></p>
            </div>
            <div class="content--column home clickable" [routerLink]="['/map']">
                <header class="column-header">
                    <div class="icon icon-map" aria-hidden="true"></div>
                    <h3>{{ 'HOME.TILES.MAP.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.MAP.DESCRIPTION' | translate"></p>
            </div>
            <div class="content--column home clickable" [routerLink]="['/statistics']">
                <header class="column-header">
                    <div class="icon icon-statistics" aria-hidden="true"></div>
                    <h3>{{ 'HOME.TILES.STATISTICS.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.STATISTICS.DESCRIPTION' | translate"></p>
            </div>
            <div class="content--column home clickable" [routerLink]="['/help']">
                <header class="column-header">
                    <div class="icon icon-help" aria-hidden="true"></div>
                    <h3>{{ 'HOME.TILES.HELP.HEADER' | translate }}</h3>
                </header>
                <p [innerHTML]="'HOME.TILES.HELP.DESCRIPTION' | translate"></p>
            </div>
        </div>
    </div>
</section>
<!-- #section-technical end -->
