<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="at.alladin.nettest.service.collector" level="@logback.loglevel@"/>

    <logger name="ch.qos.logback" level="INFO" />
    <logger name="com.codahale.metrics" level="INFO" />
    <logger name="com.ryantenney" level="INFO" />
    <logger name="io.undertow" level="INFO" />
    <logger name="org.apache" level="INFO" />
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF" />
    <logger name="org.bson" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.cache" level="INFO" />
    <logger name="org.xnio" level="INFO" />
    <logger name="springfox" level="INFO" />
    <logger name="javax.activation" level="INFO" />
    <logger name="javax.management" level="INFO" />
    <logger name="sun.rmi.transport.tcp" level="INFO" />
    <logger name="sun.rmi.loader" level="INFO" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="@logback.loglevel@">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
