<!--<nntool-section-intro>
  <nntool-section-header headerTranslationKey="NAV.MAP" icon="icon-map" loadingIndicator="true">
  </nntool-section-header>
</nntool-section-intro>-->

<nntool-section-map class="section">
  <div id="leaflet-canvas" class="leaflet-container" style="height: 800px" 
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  >
    <div [leafletLayer]="baseCanvasLayer"></div>
    <div [leafletLayer]="heatmapOverlay"></div>
    <div *ngIf="isPointmapShown()" [leafletLayer]="pointmapOverlay"></div>
  </div>
  <!--<div id="map_legend" *ngIf="legend">
    <h2 class="legend-label">
      {{ 'MAP.LEGEND' | translate }}<ng-container *ngIf="unit">{{ ' (' + unit + ')' }}</ng-container>
    </h2>
    <div class="legend-gradient" [ngStyle]="{ background: 'linear-gradient(90deg,' + legend.colors + ')' }"></div>
    <div class="legend-captions">
      <span class="legend-caption-value" *ngFor="let cap of legend.captions">
        {{ cap }}
      </span>
    </div>
  </div>-->
</nntool-section-map>
