<div class="flex--columns" [formGroup]="dynamicForm">
    <ng-container *ngIf="filterResponse">
        <div class="content--column" formArrayName="filters" *ngFor="let filter of filterResponse.filters; let i = index">
            <ng-container [ngSwitch]="filter.filter_type">
                <select *ngSwitchCase="'DROPDOWN'" [formControlName]="i">
                    <option *ngFor="let opt of filter.options" [value]="opt.value">
                        {{opt.label}}
                    </option>
                </select>
                <input *ngSwitchCase="'INPUT_TEXT'" type="text" />
                <input *ngSwitchCase="'INPUT_NUMBER'" type="number" />
                <div *ngSwitchDefault></div>
            </ng-container>
        </div>
    </ng-container>
</div>