<nntool-section-intro>
  <nntool-section-header headerTranslationKey="STATISTICS.HEADER" icon="icon-statistics" loadingIndicator="true">
  </nntool-section-header>
  <nntool-section-content>
    <p>{{ 'STATISTICS.DESCRIPTION' | translate }}</p>
  </nntool-section-content>
</nntool-section-intro>

<nntool-section-features *ngIf="filterResponse">
   

  <nntool-section-content>

    <div class="flex--columns" [formGroup]="dynamicForm">
        <div class="content--column" formArrayName="filters" *ngFor="let filter of filterResponse.filters; let i = index">
          <ng-container [ngSwitch]="filter.filter_type">
            <select *ngSwitchCase="'DROPDOWN'" [formControlName]="i">
              {{filter.default_value}}
              <option *ngFor="let opt of filter.options" [value]="opt.value">
                {{opt.label}}
              </option>
            </select>
            <input *ngSwitchCase="'INPUT_TEXT'" type="text"/>
            <input *ngSwitchCase="'INPUT_NUMBER'" type="number"/>
            <div *ngSwitchDefault>
              DEFAULT = {{item.value.filter_type}}</div>
          </ng-container>
        </div>
    </div>

    <input type="text" />
  </nntool-section-content>
</nntool-section-features>

<nntool-section-arguments>
  <nntool-section-content>
    <div class="section-table">
      <nntool-result-table #providerStatisticsTable [settings]="settings" [source]="tableSource"></nntool-result-table>
    </div>
  </nntool-section-content>
</nntool-section-arguments>
